
   .center {

    margin: auto;
    width: 20%;
    padding: 10px;
  }

  #cards{
    width: 18rem; 
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
  }

  #featured{
    width: 18rem; 
    border-style: groove;
    border-width: 4px;
    border-radius: 5px;
    border-color: gold;
  }


